/* PC */

/* Tablet */
@media (min-width:46.25em){
    .icon-box {
        display: none;
    }
    #nav .more-btn:hover ul{
        display:block;
    
    }
}
/* Mobile */
@media (max-width:46.1875em) {
    #header {
        overflow: hidden;
    }
    #nav>li {
        display: block;
    }
    #nav>li>a {
        display: block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav li a {
        color: white !important;
        padding: 0 40px;
    }
    .chicago-content{
        display: none;
    }
    .search-box {
        display: none;
    }
    .icon-box {
        top: 0;
        right: 0;
        position: absolute;
    }
    #header .icon-box:hover {
        background-color: #ccc;
    }
    #header .icon-box:hover .mobile-menu {
        color: black;
    }
    #header .home-btn {
        display: inline-block !important;
    }
    #contact .contact-icon,#contact .contact-write-form,#tour .ticket-place,.half-col,
    #content .team-member {
        width: 100%;
    }
    #contact .contact-write-form {
        margin: 0px;
    }
    #buyTicketForm .buyTicketForm__hearder,#buyTicketForm .buyTicketForm__contentbox{
        width: auto !important;
        margin: 0 10px;
    }
}